*, *::before, *::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background-image: url('http://tapety.joe.pl/tapeta/science-fiction/kosmos/czarna-dziura.jpg');
    background-color: #cccccc;
}

.logo img {
  height: 35px;
  vertical-align: middle;
}

collapse-toolbar {
  background: #B5C8CD;
  border-radius: 4px 4px 0 0;
}

.container {
  background: #ffffff;
  padding: 50px 0;
}

collapse-toolbar,
.container {
  border-bottom: 4px solid #C3C8CD;
}

.quote-container {
  background-color: #E4E4E4;
}

.blog-container {
  padding: 50px 15%;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #C3C8CD;
  margin-bottom: 25px;
}

.rect {
  border-radius: 2px;
  width: 70px;
  height: 15px;
  background-color: #B5C8CD;
  margin-left: 10px;
  margin-right: 10px;
}

.light {
  background-color: #BFD3D6;
}

.stretch {
  width: 95%;
}

.quote.dark {
  height: 20px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quote.light {
  width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.blog {
  margin-top: 5px;
  margin-bottom: 5px;
}

.photo {
  border-radius: 2px;
  width: 150px;
  height: 150px;
  background-color: #C3C8CD;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.myPanel {
  border: 1px solid #687D6D;
  border-radius: 5px;
  margin: 3%
  }
  
  .myPanel .heading {
  background: #B6F0C4;
  border-radius: 5px 5px 0 0;
  color: #687D6D;
  padding: 15px 30px;
  }
  
  .myPanel .body {
  padding: 15px 30px;
  }
  
  .myPanel .showonhover {
  display: none;
  }
  
  .myPanel:hover .showonhover {
  display: inline-block;
  }

@media screen and (max-width: 500px) {
  .banner .rect {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .quote.dark {
    width: 150px;
  }

  .quote.light {
    width: 250px;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#slider {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slides .inner {
  width: 400%;
}

#slides .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slides img {
  width: 25%;
  float: left;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

input[type="radio"] {
  display: none;
}

label {
  background: #CCC;
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

#slide1:checked ~ label[for="slide1"],
#slide2:checked ~ label[for="slide2"],
#slide3:checked ~ label[for="slide3"],
#slide4:checked ~ label[for="slide4"] {
  background: #333;
}


